@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Menu de Navegação */
.menu{
    background-color: #751001;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu nav{
    margin-left: 5px;
    margin-right: 5px;
}
.menu nav ul{
    display: flex;
}
.menu nav a{
    margin: 10px;
    font-size: 25px;
}
.menu nav a:hover{
    text-decoration: underline white;
}
.profile{
    width: 100px;
    height: 100px;
    margin-left: 5px;
}
.profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* RESPONSIVO resoluções menores */
@media(max-width: 700px){
    .menu nav a{
        display: none;
    }
    .menu{
        justify-content: center;
    }
    .conteudo article h1,h2{
        text-align: center;
    }
    .sociais{
        align-items: center;
    }
}
/* Fim menu de navegação */

/* Conteudo */
.conteudo{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo article{
    margin: 15px 10px;
    padding-bottom: 5px;
    background-color: #f8f8ff;
    box-shadow: 0 0 2px #c4c4c4;
    text-align: justify;
    width: 90%;
}
.conteudo article:hover{
    /* box-shadow: 1px 1px 2px black; */
    border: 0.1px solid rgba(128, 128, 128, 0.336);
}
.conteudo article h1{
    color: #751001;
    font-size: 23.5px;
    margin: 3px;
}
.conteudo article h2{
    color: #751001;
    margin: 10px 3px;
}
.conteudo article p{
    color: black;
    font-size: 18px;
    margin: 2px 10px;
}
.conteudo article li{
    color: black;
    font-size: 18px;
    margin: 2px 10px;
}
hr{
    border-color: #751001;
}
/* Redes e Email */
.sociais{
    display: flex;
    flex-direction: column;
    margin: 5px 8px;
    padding: 0;
}
#contato i{
    color: #751001;
    margin: 0;
    padding: 0;
}
#contato a{
    color: black;
}
#contato a:hover{
    background-color: #efefff;
}
/* Fim Redes e Email */

/* Fim Conteudo */

